<form [formGroup]="studentChangePasswordForm" *ngIf="studentChangePasswordForm" (ngSubmit)="onSave()">
    <div class="row justify-content-center">
  
      <div class="col-md-8 col-lg-6">
  
        <div class="from-group">
          <label for="username">{{'STUDENT.USERNAME' | translate }}</label>
          <input id="username" class="form-control" placeholder="{{'STUDENT.USERNAME' | translate }}"  type="text" formControlName="username" readonly/>
        
        </div>
  
        <div class="from-group">
          <label for="password">{{'STUDENT.PASSWORD' | translate }}</label>
          <input id="password" class="form-control" placeholder="{{'STUDENT.PASSWORD' | translate }}"  type="password" formControlName="password" />
          <div class="alert alert-danger" *ngIf="hasErrors('password')">
            <span *ngIf="hasErrors('password','required')" >
              <small>{{'COMMON.VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
            </span>
          </div>
        </div>
  
        <div class="from-group">
          <label for="repeatedPassword">{{'STUDENT.REPEATED_PASSWORD' | translate }}</label>
          <input id="repeatedPassword" class="form-control" placeholder="{{'STUDENT.REPEATED_PASSWORD' | translate }}"  type="password" formControlName="repeatedPassword" />
          <div class="alert alert-danger" *ngIf="hasErrors('repeatedPassword')">
            <span *ngIf="hasErrors('repeatedPassword','required')" >
              <small>{{'COMMON.VALIDATION_MESSAGES.REQUIRED' | translate}}</small>
            </span>
            <span *ngIf="hasErrors('repeatedPassword', 'fieldsMismatch')" >
              <small>{{'COMMON.VALIDATION_MESSAGES.PASSWORD_MISMATCH' | translate}}</small>
            </span>
          </div>
        </div>
  
        <div class="d-flex justify-content-end mt-2" *ngIf="userAuthority === 'ROLE_ADMIN'">
          <button type="button" class="mx-1 btn btn-outline-primary" (click)="onSave()" [routerLink]="['../../../student-details', indexNumber, indexYear]">{{'COMMON.SAVE' | translate }}</button>
          <button class="mx-1 btn btn-outline-danger" [routerLink]="['../../../student-list']" queryParamsHandling="preserve" >{{'COMMON.CANCEL' | translate }}</button>
        </div>

        <div class="d-flex justify-content-end mt-2" *ngIf="userAuthority === 'ROLE_STUDENT'">
          <button type="button" class="mx-1 btn btn-outline-primary" (click)="onSave()" [routerLink]="['../../../student-details', indexNumber, indexYear]">{{'COMMON.SAVE' | translate }}</button>
          <button class="mx-1 btn btn-outline-danger" [routerLink]="['../../../../home/home-student']" queryParamsHandling="preserve" >{{'COMMON.CANCEL' | translate }}</button>
        </div>
      </div>
  
  
      </div>
  
  </form>
