<h1 class="d-flex justify-content-center" style="color: #0d6efd;">{{ 'APP_TITLE' | translate }}</h1>

<div class="d-flex justify-content-center flex-wrap">
    <div class="col-4 card m-2" >
      <div class="card-img-top" style="height: 50%;">
        <img src="/assets/images/student.jpg" style="object-fit: cover; height: 100%; width: 100%;" alt="Student">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'STUDENT.TITLE' | translate}}</h5>
        <a routerLink="/student">{{'STUDENT.TITLE_PLURAL' | translate}}</a>
        <br>
        <br>
        <a routerLink="/student/student-form">{{'STUDENT.TITLE_ADD' | translate}}</a>
    </div>
  </div>

    <div class="col-4 card m-2" >
      <div class="card-img-top" style="height: 50%;">
        <img src="/assets/images/professor.jpg" style="object-fit: cover; height: 100%; width: 100%;" alt="Professor">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'PROFESSOR.TITLE' | translate}}</h5>
        <a routerLink="/professor">{{'PROFESSOR.TITLE_PLURAL' | translate}}</a>
        <br>
        <br>
        <a routerLink="/professor/professor-form">{{'PROFESSOR.TITLE_ADD' | translate}}</a>
      </div>
    </div>

    <div class="col-4 card m-2" >
      <div class="card-img-top" style="height: 50%;">
        <img src="/assets/images/subject.jpg" style="object-fit: cover; height: 100%; width: 100%;" alt="Subject">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'SUBJECT.TITLE' | translate}}</h5>
        <a routerLink="/subject">{{'SUBJECT.TITLE_PLURAL' | translate}}</a>
        <br>
        <br>
        <a routerLink="/subject/subject-form">{{'SUBJECT.TITLE_ADD' | translate}}</a>
      </div>
    </div>

    <div class="col-4 card m-2" >
      <div class="card-img-top" style="height: 50%;">
        <img src="/assets/images/exam.jpg" style="object-fit: cover; height: 100%; width: 100%;" alt="Exam">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{'EXAMINATION_PERIOD.TITLE' | translate}}</h5>
        <a  routerLink="/examination-period">{{'EXAMINATION_PERIOD.TITLE_PLURAL' | translate}}</a>
        <br>
        <br>
        <a  routerLink="/examination-period/examination-period-form">{{'EXAMINATION_PERIOD.TITLE_ADD' | translate}}</a>

        <br>
        <br>
        <a  routerLink="/exam">{{'EXAM.TITLE_PLURAL' | translate}}</a>

        <br>
        <br>
        <a  routerLink="/exam/exam-form">{{'EXAM.TITLE_ADD' | translate}}</a>
      </div>
    </div>
</div>


