<h3  class="d-flex justify-content-center" style="color: #0d6efd;">{{'SCHEDULE.QUESTIONS' | translate}}</h3>
<div class="container justify-content-center text-justify mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div>
                <h6><b>Lost index. How to get new?</b></h6>
                <p>To issue a duplicate index, the student submits the following documentation to the student service:</p>
                <ol>
                    <li>Confirmation from the Official Gazette that the old index has been declared invalid.</li>
                    <li>Application (taken from the student service or from the School's website).</li>
                    <li>Proof of payment of 3,000 dinars for the costs of issuing a duplicate index (School account number 840-2119666-62, purpose of payment Costs of issuing a duplicate index, call to number 2-student index number).</li>
                    <li>Index (purchased at the "Educational Review" bookstore or at the Department's script store).</li>
                    <li>Two photos of 3.5 cm x 4.5 cm format.</li>
                </ol>
            </div>
            <div>
                <h6><b>I have problems with exam application. Who I need to contact?</b></h6>
                <p>If a student has a problem when registering for the exam, it is necessary to contact the student service by sending questions from the school email account to the student service email studentska.sluzba@ict.edu.rs.</p>
                
                <p><b>NOTE:</b> It is necessary for the student to report the problem to the student service during the exam registration period.</p>
            </div>
            <div>
                <h6><b>I need to apply Master thesis. What is the procedure?</b></h6>
                <p>- The student forwards the final paper examination application to the Student Service (the student can also forward the final paper examination application via e-mail by filling out the attached doc format) - only the upper part of the application is filled out.</p>
        

                <p>- When the Teaching Professional Council approves the topic, the Student Service checks the fulfillment of the conditions and informs the student within 7 to 10 days whether the application has been approved or not.</p>
                    
                    
                <p>- Before the defense of the final thesis, the student is obliged to collect from the Student Service the exam application, the application of the topic of the final thesis and the sticker for the CD/DVD (students will receive a sticker for one disc (for the archive of the Student Service) which they will fill in with the necessary data).</p>
                    
                    
                <p>- Students submit final papers exclusively in electronic form (on CD or DVD) to the mentor during the defense of the final paper.</p>
            </div>
        </div>
    </div>
</div>
